<html>
  <head>
    <title>Facebook Messenger Bot</title>
  </head>
  <body>
    <h1>Facebook Messenger Bot</h1>
      This is a bot based on Messenger Platform QuickStart. For more details, see their
      <a href="https://developers.facebook.com/docs/messenger-platform/guides/quick-start">docs</a>
    </body>
</html>
